.list {
    padding: 0;
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
}

.li {
    width: calc(94% /3);
    padding: 10px;
    font-size: 28px;
    list-style: none;
    margin: 10px;
    color: rgb(43, 93, 158);
    box-shadow: 0 14px 28px rgba(71, 110, 160, 0.25), 0 10px 10px rgba(11, 12, 71, 0.22);
    background-color: floralwhite;
    border-radius: 10px;
}

.span {
    display: block;
}

.deleteBtn {
    width: 106px;
    margin-left: 10px;
    background-color: white;
    color: rgb(43, 93, 158);
}