.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(110, 145, 202, 0.5);
}